@model CompanyAuidit.Models.ItemListViewModel
@{
    ViewData["Title"] = "RelationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemMessage = (string)TempData["ItemMessage"];
}

<h3>Envanter Listesi</h3>

@if (itemMessage != null)
{
    <div class="alert alert-info" role="alert">
        @itemMessage
    </div>
}
<table class="table">
    <tr>
        <th>Adı</th>
        <th>Durumu</th>
        <th>Değeri</th>
        <th><a class="btn btn-success" asp-action="AddItem">Eşya Ekle</a></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.ItemType.Name</td>
            <td>@item.Description</td>
            <td>@item.Cost</td>
            <td>@item.SerialNumber</td>
            <td>
                <a class="btn btn-danger" asp-action="DeleteItem" asp-route-id="@item.Id" onclick="return confirm('@item.ItemType.Name adlı eşyayı silmek istiyor musunuz?')">Sil</a>
                <a class="btn btn-success" asp-action="UpdateItem" asp-route-id="@item.Id">Güncelle</a>
            </td>
            <td>
            
            </td>

        </tr>
    }

</table>
