@model CompanyAuidit.Models.ItemListViewModel
@{
    ViewData["Title"] = "RelationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemMessage = (string)TempData["ItemMessage"];
}

<h3>Envanter Listesi</h3>

@if (itemMessage != null)
{
    <div class="alert alert-info" role="alert">
        @itemMessage
    </div>
}
<table class="table">
    <tr>
        <th>Adı</th>
        <th>Durumu</th>
        <th>Değeri</th>
        <th><a class="btn btn-success" asp-action="AddItem">Eşya Ekle</a></th>
        <th></th>
        <th>
            <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#modal">Kategori Ekle</button>
            <div class="modal" id="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Kategori Ekle</h2>
                        </div>
                        <form asp-controller="Category" asp-action="Create">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td> <label asp-for="@Model.Category.Name" class="custom-control-label">Kategori Adı</label></td>
                                        <td><input asp-for="@Model.Category.Name" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" class="btn btn-outline-danger" value="Kaydet" /></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.ItemType.Name</td>
            <td>@item.Description</td>
            <td>@item.Cost</td>
            <td>@item.SerialNumber</td>
            <td>
                <a class="btn btn-danger" asp-action="DeleteItem" asp-route-id="@item.Id" onclick="return confirm('@item.ItemType.Name adlı eşyayı silmek istiyor musunuz?')">Sil</a>
                <a class="btn btn-primary" asp-action="UpdateItem" asp-route-id="@item.Id">Güncelle</a>
            </td>
            <td>
              
               
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kullanıcı İle İlişkilendir
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var user in Model.User)
                        {
                            <a class="dropdown-item" asp-action="UserCreate" asp-route-userId="@user.Id" asp-route-itemId="@item.Id">@user.FirstName @user.LastName</a>
                        }
                    </div>
                </div>

            </td>

        </tr>
    }

</table>
