@model RelationListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.User.FirstName  @Model.User.LastName</h1>
<br>
<table class="table">
    <tr>
        <th>Eşya</th>
        <th>Değeri</th>
        <th>Açıklama</th>
        <th></th>
        <th>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eşya Ekle
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in Model.Items)
                    {
                        <a class="dropdown-item" asp-action="CreateItem" asp-route-userId="@Model.User.Id" asp-route-itemId="@item.Id">@item.ItemType.Name - @item.SerialNumber</a>
                    }
                </div>
            </div>
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.ItemType.Name</td>
            <td>@item.Cost</td>
            <td>@item.Description</td>
            <td>
                <a class="btn btn-danger" asp-action="InventoryDelete"
                   asp-route-userId="@Model.User.Id" asp-route-inventoryId="@item.Id"
                   onclick="return confirm('@item.ItemType.Name adlı, @item.SerialNumber seri numaralı eşyayı silmek istiyor musunuz?')">
                    Sil
                </a>
            </td>
            <th></th>
        </tr>
    }

</table>


